.title {
    text-align: center;
}

.car-table {
    height: 100%;

    .cell {
        border: 1px solid gray;
        height: 120px;
    }

    .cell-label {
        text-align: center;
        font-weight: bold;
    }
}

.car {
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.command {
    display: flex;
    padding: 20px;

    .button {
        margin-left: 2px;
    }
}
