td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.car {
    width: 25px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.command {
    display: flex;
}